*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out 

# Python / uv
.venv/
__pycache__/
*.pyc
tools/out/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
