[tools]
typst = "latest"

[tasks.watch]
run = "typst watch Nicholas_Zolton_Resume.typ Nicholas_Zolton_Resume.pdf"

[tasks.compile]
run = "typst compile Nicholas_Zolton_Resume.typ Nicholas_Zolton_Resume.pdf"
