[tools]
typst = "latest"

[tasks.watch]
run = '''
typst watch $(find . -maxdepth 1 -name "*.typ" -print -quit) $(find . -maxdepth 1 -name "*.typ" -print -quit | sed "s/\.typ$/.pdf/")
'''

[tasks.compile]
run = '''
typst compile $(find . -maxdepth 1 -name "*.typ" -print -quit) $(find . -maxdepth 1 -name "*.typ" -print -quit | sed "s/\.typ$/.pdf/")
'''
